.prodMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

.prodMainDiv a:hover {
    background-color: var(--vbBlue);
}

.prodMainDiv>div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.itemListHeaders {
    width: 100%;
    color: var(--light) !important;
    display: flex;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--primary);
}

.itemListHeaders>div {
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.itemListMainDiv {
    width: 100%;
}

.itemListMainDiv>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: var(--light);
}

.itemListMainDiv a {
    width: 100%;
    color: var(--primary) !important;
}

.itemListDiv {
    background-color: var(--light);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px var(--secondary);
}

.itemListDiv:hover * {
    background-color: white;
    opacity: 1;
}

.itemList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.itemList>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.prodMainDiv ol {
    padding: 10px;
    margin: 0;
    border-radius: 6px;
}

.prodMainDiv li {
    display: flex;
    background-color: var(--light);
}


.prodNav {
    display: flex;
    width: 100%;
}

.prodNav a {
    width: 100%;
}

.prodContentDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 0;
}

.searchDiv input:focus {
    outline: none;
    border: 2px solid var(--vbBlue);
}

.searchDiv input {
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid white;
}

.searchDiv>div {
    color: var(--light);
}


.searchDiv li:hover {
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 6px;

}

.searchController {
    border: NONE;
    border-radius: 6px;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    background-color: var(--secondary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchController:hover {
    background-color: var(--vbBlue);
    cursor: pointer;
}

.codeSearchDiv div {
    margin: 4px;
}

.typeSearchDiv div {
    margin: 4px;
}

.productionCountDiv {
    color: var(--light);
    background-color: var(--secondary);
    width: 100%;
}

.productionCountDiv>div {
    padding: 10px;
}

.itemStatusDiv {
    width: 300px !important;
}

.itemStatusHeaderDiv {
    width: 300px !important;
}


.itemStatusSpan {
    /* background-color: var(--red) !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 100%;
    opacity: .5;
}