.issuesMainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.issueNewDiv {
    background-color: var(--secondary);
    width: 100%;
    border-bottom: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.issueNewDiv>div {
    padding: 10px;
}

.issuesList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.issuesList>div {
    display: grid;
    background-color: var(--light);
    grid-template-columns: repeat(3, calc(100%/3));
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
    font-size: 12px;
}

.issuesListHeaders {
    border-bottom: 1px solid var(--secondary);
    background-color: var(--secondary) !important;
    color: var(--light);
    height: 50px !important;
    font-size: 14px !important;
    display: flex;
}

.issuesListHeaders>div {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.issuesListContent {
    height: 30px !important;
}