.wwGrid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

.wwGrid>a {
    padding: 10px;
    background-color: var(--light);
    margin: 1px;
}

.wwGrid>a:hover{
    background-color: var(--vbBlue);
}

.wwMainDiv {
    margin:10px;
    background-color: var(--secondary);
    padding:10px;
}

.wwContentDiv {
    margin: 10px;
}