.weekPlanMainDiv {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--secondary);
    width: 100%;
    height: 500px;
}

.weekPlanContentDiv:hover {
    background-color: white;
}

.weekPlanContentDiv {
    background-color: var(--light);
    margin: 10px;
    margin-bottom: 0 !important;
    padding: 10px;
    padding-bottom: 0 !important;
    border-radius: 6px;
}

.weekPlanContentDiv>a:hover {
    background-color: white;
}

.weekPlanContentDiv>div {
    margin: 6px;
}

.weekPlanProjectHeader {
    color: var(--light);
    font-size: large;
}

.weekPlanCardsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.statusLight {
    background-color: red;
    height: 10px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 !important;
    margin: 0 !important;
}

.weekPlanBackBtnDiv {
    width: 100%;
    margin-top: 10px;
}

.weekPlanHeader {
    background-color: var(--secondary);
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekPlanHeader>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backlogDiv {
    background-color: var(--secondary);
    flex-direction: column;
    width: 100%;
}

.backlogHeader {
    background-color: var(--light);
    width: 100% !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

.backlogCards {
    display: flex;
    align-items: center;

}

.backlogScroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 420px;
    overflow-y: scroll;
}


.backlogScroll::-webkit-scrollbar {
    width: 10px;
}

.backlogScroll::-webkit-scrollbar-track {
    background-color: var(--secondary);
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

.backlogScroll::-webkit-scrollbar-thumb {
    background: var(--light);
}