.loginAuthDiv>div {
    display: grid;
    gap: 10px;
    background-color: var(--light);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.loginInputDiv>div {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.loginInputDiv input {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 4px;
    text-align: center;
}

.loginInputDiv button {
    border-radius: 6px;
    height: 30px;
    width: 80px;
    background-color: var(--secondary);
    color: var(--light);
    border: none;
}

.loginInputDiv button:hover {
    background-color: var(--vbBlue);
    cursor: pointer;
}