.loginAuthDiv>div {
    display: grid;
    gap: 10px;
    background-color: var(--light);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.loginInputDiv>div {
    /* display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px; */
    color: var(--secondary);
}

.loginInputDiv>div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginInputDiv input {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 4px;
    text-align: center;
    border: 1px solid var(--vbBlue);
}

.loginInputDiv>div:hover {
    color: var(--primary);
}

.loginInputDiv input:focus {
    border: 1px solid var(--primary);
}

.loginAlertUsername {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red) !important;
}