.prodMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    margin-top: 50px;
}

.prodMainDiv a:hover {
    background-color: var(--vbBlue);
}

.prodMainDiv>div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.itemListHeaders {
    width: 100%;
    color: var(--light) !important;
    display: flex;
    background-color: var(--secondary);
    height: 50px;
    border-bottom: 1px solid var(--primary);
}

.itemListHeaders input {
    text-align: center;
}

.itemListHeaders>div {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.itemListMainDiv {
    width: 100%;
}

.itemListMainDiv>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: var(--light);
}

.itemListMainDiv a {
    width: 100%;
    color: var(--primary) !important;
}

.itemListDiv {
    background-color: var(--light);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px var(--secondary);
}

.itemListDiv:hover {
    background-color: white;
}

.itemListDiv:hover * {
    background-color: white;
    opacity: 1;
}

.itemList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.itemList>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.prodNav {
    display: flex;
    width: 100%;
}

.prodNav a {
    width: 100%;
}

.prodContentDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchDiv {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 0;
    flex-direction: column;
}

.searchDiv input:focus {
    outline: none;
    border: 2px solid var(--vbBlue);
}

.searchDiv input {
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid white;
}

.searchDiv>div {
    display: flex;
    color: var(--light);
}

.controllerDiv {
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}

.controllerDiv>div {
    margin: 6px;
}

.searchController {
    height: 30px;
    width: 100px;
    border-bottom: 1px solid var(--light);
    background-color: var(--secondary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchController:hover {
    background-color: var(--light) !important;
    cursor: pointer;
    color: var(--secondary);
    transition: 0.3s;
}

.codeSearchDiv div {
    margin: 4px;
}

.typeSearchDiv div {
    margin: 4px;
}

.productionCountDiv {
    color: var(--light);
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productionCountDiv>div {
    padding: 10px;
    
}

.itemStatusDiv {
}

.itemStatusHeaderDiv {
}


.itemStatusSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.prodMainDiv {
    margin-bottom: 26px;
}

.itemStatusSpan {
    font-size: 12px;
}

.newItemBtn {
    background-color: var(--green) !important;
    padding:10px;
    border-radius: 6px;
}