.equipMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.equipMainDiv a {
    width: 100%;
    color: var(--light);
    text-align: center;
    background-color: var(--secondary);
}

.equipMainDiv a:hover {
    background-color: var(--vbBlue);
}

.equipNav {
    display: flex;
    width: 100%;
}

.equipNav a {
    width: 100%;
}

.equipContentDiv {
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}