.pqaEquipMainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4px;
}

.pqaNewEquip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--primary);
}

.pqaNewEquip>div {
    padding: 10px;
}

.pqaEquipList {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.pqaEquipList>div {
    display: grid;
    background-color: var(--light);
    grid-template-columns: repeat(1, calc(100%/1));
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
    font-size: 12px;
}

.pqaEquipListHeaders {
    border-bottom: 1px solid var(--secondary);
    background-color: var(--secondary) !important;
    color: var(--light);
    font-size: 14px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px !important;
}

.pqaEquipList span {
    background-color: var(--secondary);
    padding: 6px;
    border-radius: 6px;
    color: white;
}

.pqaEquipList span:hover {
    background-color: var(--vbBlue);
    cursor: pointer;
}