/* .itemNav{
    margin-left: 100px;
    width: 100px;
    background-color:var(--secondary);
    display: flex;
    flex-direction: column;
  } */

.itemContentDiv {
  position: fixed;
  background-color: var(--secondary);
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  font-size: 12px;
  z-index: 1;
}

.itemInfo {
  margin: 6px;
  background-color: var(--light);
  border-radius: 10px;
  padding: 10px;
}

.itemInfo>div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  text-align: center;
}

.itemPageHeader {
  display: flex !important;
  width: 100%;
  align-items: self-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.itemPageHeader>div {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.itemPageHeader p {
  font-weight: bold;
}

.itemHeaders {
  font-weight: bold;
}

.backBtn {
  border: NONE;
  border-radius: 6px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.backBtn:hover {
  cursor: pointer;
}

.deleteItemBtn {
  border: NONE;
  border-radius: 6px;
  color: white;
  border: 1px solid var(--red);
  background-color: var(--red) !important;
}

.deleteItemBtn:hover {
  cursor: pointer;
}


.itemIssuesDiv {
  display: flex !important;
  flex-direction: column !important;
}

.itemIssuesContentDiv {
  padding: 10px;
}

.itemIssuesSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.itemIssuesSearch>select {
  width: 100%;
}

.itemIssuesSearch>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.itemIssueList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.itemIssuesHeaders {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, calc(100%/7));
  border-bottom: 1px solid var(--secondary);
  color: var(--light);
  margin-top: 14px;
  background-color: var(--secondary);
  padding: 10px;
}

.itemInformation {
  background-color: white;
  border-radius: 10px;
}

.itemInformation>div {
  border: 1px solid var(--light);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 8px;
}

.itemIssueContent {
  display: grid;
  width: 100%;
  padding: 8px;
  grid-template-columns: repeat(7, calc(100%/7));
  border-bottom: 1px solid var(--secondary);
}


.itemIssueContent>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemIssueContent a {
  padding: 4px;
  border-radius: 6px;
  border: 1px solid var(--light);
  min-width: 120px;
}

.itemIssueContent a:hover {
  cursor: pointer;
  border: 1px solid var(--vbBlue);
}

.finishProcBtn {
  margin: 4px;
}

.itemStatusSpan {
  text-align: center;
}

.hipotInfoDiv {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.hipotHeader {
  margin: 4px;
  font-size: 14px;
}

.hipotGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
}

.hipotGrid>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hipotGrid p {
  margin: 4px;
  font-weight: bold !important;
}

.checkZoneDiv {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}

.checkZoneDiv img {
  height: 20px;
  width: auto;
}