.mySqlControllerContent {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    background-color: var(--secondary);
    width: 100%;
}

.mySqlControllerContent>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.mySqlControllerContent div {}

.mySqlControllerContent input {
    border-radius: 6px;
    border: none;
    background-color: var(--light);
    text-align: center;
}

.mySqlControllerContent select {}

.authenticationInputDiv>div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemNotExist {
    color: var(--light);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemNotExist>div {
    margin: 20px;
}

.mySqlControllerContent select {
    width: 100%;
}

.dateForm>div {
    margin: 2px;
}

.hipotDiv>div {
    margin: 2px;
}

.updateItemDiv>div>div {
    margin: 4px;
}