.registerMainDiv>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.registerInputDiv>div {
    /* display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px; */
    color: var(--secondary);
}

.registerInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerInputDiv>div {
    padding: 10px;
}

.registerInputDiv>div:hover {
    color: var(--primary);
}

.registerInputDiv input {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 4px;
    border: 1px solid var(--vbBlue);
    text-align: center;
}

.registerInputDiv input:focus {
    border: 1px solid var(--primary);
}