.pqaProjectsMainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pqaNewProject {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pqaListProjects {
    text-align: center;
    padding: 6px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.pqaListProjects>div {
    display: grid;
    background-color: var(--light);
    grid-template-columns: repeat(4, calc(100%/4));
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
    font-size: 12px;
}

.pqaListHeadersProjects {
    border-bottom: 1px solid var(--secondary);
    background-color: var(--secondary) !important;
    color: var(--light);
    font-size: 14px !important;

}