.rolesAssignDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    background-color: var(--secondary);
    margin: 100px;
    padding: 30px;
    border-radius: 6px;
}

.rolesAssignHeader {
    color: white;
}