:root {
  --header: #0D1B2A;
  --grey: rgb(231, 246, 255);
  --dark: #0D1B2A;
  --primary: #1B263B;
  --vbBlue: #3078c9;
  --secondary: #415A77;
  --grey1: #a3adb9;
  --light: #c5d3e1;
  --green: #18a80e;
  --red: #ff0000;
}

body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a.active {
  background-color: var(--vbBlue) !important;
}
a.hover{
  background-color: var(--vbBlue) !important;
}

.rootPage {
  display: flex;
  flex-direction: column;
}

.rootHeader {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
}

.rootHeader img {
  height: 20px;
  width: auto;
}

.rootHeader div:first-child {}

.rootHeader a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--vbBlue);
  background-color: var(--secondary)
}

.rootHeader a:hover {
  background-color: var(--vbBlue);
}

.rootHeader a:visited {
  background-color: var(--secondary) !important;
}

.rootBody {
  display: flex;
  flex-direction: column;
}

.logoutBtn {
  width: 50px !important;
}

.amadeusLogoMenu:hover {
  cursor: pointer;
  background-color: white !important;
}

.mainNavDiv {
  background-color: var(--secondary);
}

.mainNavDiv>nav {
  display: flex;
}

.mainNav {
  width: 100%;
  background-color: var(--secondary);
  transition: .3s;
  display: flex;
  border-bottom: 1px solid var(--primary);
}

.mainNav a {
  color: var(--light);
  text-align: left;
  background-color: var(--secondary);
  padding: 10px;
  font-size: 14px;
  border-right: 1px solid var(--primary);
}

.mainNav a:hover {
  background-color: var(--vbBlue);
}

.mainNav:hover {
  transition: .3s;
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainpage a {
  border-radius: 6px;
  border: 1px solid black;
  margin: 10px;
}

input {
  border-radius: 6px;
  width: 150px;
  padding: 4px;
  outline: none;
  border: none;
  text-align: center;
}

input:hover {
  background-color: white !important;
  cursor: pointer;
}

input:focus {
  outline: none;
  background-color: white !important;
}

select {
  border-radius: 6px;
  padding: 4px;
  width: 150px !important;
  background-color: var(--light);
}

option:first-child {
  color: var(--light) !important;
  background-color: var(--secondary) !important;
}

select:hover {
  background-color: white;
  cursor: pointer;
}

select:focus {
  outline: none;
}

button {
  background-color: var(--light) !important;
  border-radius: 6px;
  height: 30px;
  width: 80px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10px;
}

button:hover {
  background-color: var(--vbBlue) !important;
  border: 1px solid var(--light);
  color: var(--light);

  cursor: pointer;
}

/* .table {
  text-align: center;
  padding: 6px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.table>div {
  display: grid;
  background-color: var(--light);
  grid-template-columns: repeat(3, calc(100%/3));
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--primary);
} */

/* .tableHeaders {
  border-bottom: 1px solid var(--secondary);
  background-color: var(--secondary) !important;
  color: var(--light);
} */