:root {
  --header: #0D1B2A;
  --grey: rgb(231, 246, 255);
  --dark: #0D1B2A;
  --primary: #1B263B;
  --vbBlue: #2798c9;
  --secondary: #415A77;
  --grey1: #a3adb9;
  --light: #c5d3e1;
}

*{
  font-size: 14px;
}
body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
  text-decoration-color: none;

}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.mainNavDiv {
  position: fixed;
  width: 100%;
  top: 0;
}

.mainNav {
  transition: .3s;
  display: flex;
  width: 100%;
}

.mainNav a {
  width: 100%;
  color: var(--light);
  text-align: center;
  background-color: var(--secondary);
  padding: 20px;
}

.mainNav a:hover {
  background-color: var(--vbBlue);
}

.mainNav:hover {
  transition: .3s;
}

.mainPage {
  display: flex;
  margin: 10px;
  margin-top: 70px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.mainpage a {
  border-radius: 6px;
  border: 1px solid black;
  margin: 10px;
}

input:focus {
  outline: none;
}

button {
  border-radius: 6px;
  height: 30px;
  width: 80px;
  background-color: var(--secondary);
  color: var(--light);
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10px;
}

button:hover {
  background-color: var(--vbBlue);
  cursor: pointer;
}